.main{
  display: flex;
  flex-direction: column;
  max-width: 83.333333%;
  margin-left: 8.333333%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.gif{
  width: 33.333333%;
}

.page_404 {
  background: #fff;
  font-family: "Arvo", serif;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
